@import url("https://fonts.googleapis.com/css?family=Sacramento");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  color: #ff1ef4;
  text-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 70px #e60073,
    0 0 120px #e60073, 0 0 500px #e60073;
  font-family: "Sacramento", cursive;
  font-size: 15vw;
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #7ae0fc;
  box-shadow: 0 0 60px #0506f8, 0 0 75px #0200ea, 0 0 100px #0000c6,
    0 0 200px #010197, 0 0 500px #010175, inset 0 0 60px #0506f8,
    inset 0 0 75px #0200ea, inset 0 0 100px #0000c6, inset 0 0 200px #010197,
    inset 0 0 500px #010175;
}

.social {
  font-size: 1.5rem;
  position: absolute;
  bottom: 1rem;
}

.social a {
  text-decoration: none;
  color: #ff1ef4;
  text-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 70px #e60073,
    0 0 120px #e60073, 0 0 500px #e60073;
}
